// ----------------------------------------------------------------------
	// Font family
// ----------------------------------------------------------------------

body {
font-weight: normal;
font-family: $helvetica;
line-height: 1.5em;
letter-spacing: inherit;
}
